@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #101010;
  color: #f6f6f6;
  box-sizing: border-box;
  height: 100%;
}

/* mobile--config */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

.menu__trigger {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__trigger:focus {
  outline: none !important;
}
/* ... */

/* animations */
@keyframes iconDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: translateY(180deg);
  }
}

/* navbar */

:root {
  --color-1: #f3f8ff;
  --color-2: rgba(43, 43, 43, 0.2);
  --color-3: #9402d8;
  --blue: #008efa;
  --pink: #ff207a;
  --bg: #eeeeee;
  --white: #3a3a3a;
}

#navbar {
  width: 100%;
  height: 10vh;
  background-color: var(--color-2);
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.navbar__menu {
  width: 100%;
  display: flex;
  gap: 8%;
  justify-content: center;
  padding-right: 5%;
}

.navbar__menu__link {
  width: 15%;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: 0.8s cubic-bezier(0.48, 0.3, 0.42, 0.92);
  border-radius: 20px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

#navbar__menu__close {
  position: absolute;
  right: 5%;
  top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  width: 5vw;
}

#navbar__menu__close i {
  font-size: 1.88rem;
  color: white;
  transition: 0.8s;
}

#navbar__menu__close:hover {
  cursor: pointer;
}

#hideText {
  transition: 0.5s;
  opacity: 0.5;
  font-size: 1rem;
  width: 10vw;
  text-align: center;
}

#hideText:hover {
  cursor: pointer;
}

.shinning {
  color: #9402d8 !important;
  transition: 0.8s cubic-bezier(0.48, 0.3, 0.42, 0.92);
}

.transparent {
  opacity: 0 !important;
}

.hidden {
  transform: translateY(-100%);
  transition: 0.6s;
}

.closed {
  height: 0;
}
.navbar__menu__link i {
  font-size: 1.88rem;
  color: white;
}

.navbar__menu__link:hover {
  background-color: var(--color-3);
  transform: translateX(15px);
  transition: 0.8s cubic-bezier(0.48, 0.3, 0.42, 0.92);
  box-shadow: 0px 0px 10px 4px var(--color-3);
}

/* end of navbar */

/* menu-navbar-mobile */
.header__mobile {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  bottom: 0;
}

.mobile__menu__main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 30vh;
  position: absolute;
  bottom: 0;
}
.mobile__menu__main__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 2vh;
  padding: 30px;

  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  background-color: var(--white);
}
.menu__trigger {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 50px);
  width: 2rem;
  height: 2rem;
  background-color: var(--blue);
  border: 10px solid var(--bg);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  transition: 0.35s ease;
}
.menu__base {
  width: 20px;
  height: 20px;
  object-fit: contain;
  font-size: 1.5rem;
  color: #f6f6f6;
  text-decoration: none;
}

.menu__base:hover {
  color: #9f9f9f !important;
}

.menu__item {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  padding: 20px;
  border-radius: 50%;

  background-color: var(--white);
  border: 2px solid var(--color-3);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);
  z-index: -1000;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f3f8ff;
  font-size: 2rem;
  text-decoration: none;
}

.menu__item--0 {
  transition: 0.35s ease;
  left: 0.5rem;
}
.menu__item--1 {
  transition: 0.35s ease 0.1s;
  left: 0.5rem;
}
.menu__item--2 {
  transition: 0.35s ease 0.2s;
  left: 0.5rem;
}

.is-rotate {
  transform: rotateZ(225deg);
  background-color: var(--pink);
}
.item-0 {
  top: -40vh;
  left: 0.5rem;
  opacity: 1;
}
.item-1 {
  top: -30vh;
  left: 0.5rem;
  opacity: 1;
}
.item-2 {
  top: -20vh;
  left: 0.5rem;
  opacity: 1;
}

/* .... */
#apresentacao {
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

.apresentacao__imagem {
  width: 50%;
}

#apresentacao-about {
  margin: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: "Krona One", sans-serif;
}

.titulo-destaque {
  color: var(--color-3);
}

.apresentacao__conteudo__paragrafo {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.apresentacao__socialmedia__subtitulo {
  font-family: "Krona One", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}

.apresentacao__socialmedia__media {
  display: flex;
  text-align: center;
  color: #f6f6f6;
  width: 50%;
  justify-content: center;
  gap: 15px;
  border-radius: 8px;
  border: 2px solid var(--color-3);
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0;
  text-decoration: none;
  font-weight: 600;
}

.apresentacao__socialmedia__media:hover {
  background-color: #272727;
  transition-duration: 0.5s;
  width: 290px;
}

.apresentacao__socialmedia__media__icon {
  color: var(--color-3);
}

#footer {
  color: black;
  background-color: var(--color-3);
  height: 7vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transition: 2s;
}

.footer-scrolled {
  color: black;
  opacity: 0;
  height: 7vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transition: 1s !important;
}

#triggerFooter {
  opacity: 0;
}

@media (max-width: 1200px) {
  #apresentacao {
    flex-direction: column-reverse;
    padding: 5% 5%;
  }
}

.apresentacao__imagem {
  width: 50%;
  margin-bottom: 3%;
}

.apresentacao__conteudo {
  width: 100%;
  display: flex;
}

@media (max-width: 900px) {
  #navbar {
    display: none;
  }
  #navbar__menu__close {
    display: none;
  }
}
